/.vim/plugged
/.config/transmission/
/.config/pulse/
/.config/BraveSoftware
/.config/VirtualBox
/.config/libreoffice
/.config/akonadi
/.config/akonadi*
/.config/akregatorrc
/.config/arkrc
/.config/autostart
/.config/autostart-scripts
/.config/baloofile*
/.config/bluedevil*
/.config/chromium
/.config/code-oss
/.config/Code*-*OSS
/.config/configstore
/.config/dconf
/.config/device*
/.config/discoverrc
/.config/dolphinrc
/.config/drkonqirc
/.config/droidcam
/.config/Electron
/.config/email*
/.config/fontconfig
/.config/GIMP
/.config/google-chrome
/.config/gtk*
/.config/gwen*
/.config/kactivity*
/.config/kalarm*
/.config/kate*
/.config/kcalc*
/.config/kcmin*
/.config/kconf*
/.config/KDE
/.config/kde*
/.config/kdialogrc
/.config/kglobal*
/.config/khotkey*
/.config/khtml
/.config/kmail*
/.config/kmix*
/.config/konq*
/.config/konsolerc
/.config/korgacrc
/.config/krunnerrc
/.config/kscreenlockerrc
/.config/ksmserverrc
/.config/ktimezonedrc
/.config/kwinrc
/.config/kwinrulesrc
/.config/kxkbrc
/.config/libaccounts-glib
/.config/libfm
/.config/libreoffice
/.config/libvirt
/.config/menus
/.config/mimeapps.list
/.config/mpv
/.config/nvim/plugged
/.config/okularpartrc
/.config/okularrc
/.config/pavucontrol.ini
/.config/pcmanfm
/.config/plasma-localerc
/.config/plasma-nm
/.config/plasma-org.kde.plasma.desktop-appletsrc
/.config/plasmarc
/.config/plasmashellrc
/.config/powermanagementprofilesrc
/.config/pulse
/.config/QtProject.conf
/.config/session
/.config/Skype
/.config/skypeforlinux
/.config/Slack
/.config/soffice.binrc
/.config/specialmailcollectionsrc
/.config/spectaclerc
/.config/systemmonitorrc
/.config/systemsettingsrc
/.config/transmission
/.config/trashrc
/.config/Trolltech.conf
/.config/Unknown Organization
/.config/VirtualBox
/.config/vlc
/.config/webengineurlinterceptoradblockrc
/.config/xdg-desktop-portal-kderc
/.config/xsettingsd
/.config/yakuakerc
/.config/yarn
/.config/yay
/.config/zathura
/.config/zoomus.conf*







